

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 1.25rem;
}

form {
	width: 50em;
	margin: 0 auto;
	background-color:#CECECE;
	box-sizing:border-box;
	border-radius:0.625rem;

	
}

.title {
	text-align: center;
	color: #333;
}

.form_details {
	margin: 0.625rem 1.875rem ;
}

.input-values {
	display: flex;
	gap: 2em;
	margin:3px 10px 2px;
	
}

.input-values input,
.input-values select{
	

	padding: 8px; 
	border: 1px solid #ddd; 
	border-radius: 4px; 
	margin:3px;
}

label {
	display:inline;
	font-size: 0.9em;
	color: #666;
	
	margin-top: 10px;
}

.submit-btn {
	display: block;
	width: 50%;
	padding: 10px;
	background-color: grey;
	color: white;
	border: none;
	border-radius: 4px;
	margin:4px auto;
	cursor: pointer;
	margin-top:10px;
	margin-bottom:10px;
}

.summit-btn:hover {
	background-color: #333;
}

.input-label-pair {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-bottom:1.25em;
}

.input-label-pair label {
	text-align: left;

}
